.drawer {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  padding-left: 20px;
  background-color: #fffff0ed;
  width: 400px;
  z-index: 1;
  overflow-y: auto;
  animation: slide-open 0.75s forwards;
}

@keyframes slide-open {
  100% {
    right: 0;
  }
}

.drawerClose {
  display: grid;
  margin-left: auto;
}
